body
	h1
{
	font-size: 2em;
	margin: 0 0 20px 10px;
	color: #F00;
}

body
	form
{
margin-top: 20px;
}

body
	form
	.partydependent
{
	display: none;
}

body
	form
	.party_container
{
margin-left: 0px;
}

body
	form
	.party_container
	h4.party_caption
{
	display: inline;
	float: left;
	position: absolute;
	left: 450px;
}

body
	form
	.party_container
	h5.party_caption
{
	display: inline;
	float: left;
	position: absolute;
	left: 650px;
}

body
	form
	.party_container
	h6.party_caption
{
	display: inline;
	float: left;
	position: absolute;
	left: 670px;
}

body
	form
	.party_container
	input.party_text
{
	width: 400px;
	display: inline;
}

body
	form
	.party_container
	select
{
	width: 410px;
	display: inline;
	padding: 5px 2px;
}

body
	form
	.party_container
	p
{
	padding: 0;
	margin: 2px 0;
}

body
	form
	#submit
{
	margin: 40px 0 0 10px;
}

body
	a#shaded_body_block_hide
	div#shaded_body_block
{
	position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 900;

    background-color: #000;
    filter: alpha(opacity=55);
    opacity:.55;
    
	display: none;
    cursor: default;
}

body
	div#shaded_popups_container
	div.shaded_popup
{
	position: fixed;
	z-index: 1500;
	left: 230px;
	top: 200px;
	
	width: 500px;
	
	padding: 20px;
	
	border: solid black 2px;
	font-family: arial, helvetica, sans-serif;
	
	display: none;
	background-color: white;
	
	cursor: move;
}

body
	div#shaded_popups_container
	div.shaded_popup
	p
{
	font-size: .8em;
	color: #558;
	font-weight: bold;
	margin: 0 0 20px 6px;
}

html
	body
	#config_menu
	.config_menu_guts
	ul
	li
{
	line-height: 35px;
	font-weight: normal;
}

html
	body
	#config_menu
	.config_menu_guts
	ul
	li
	.error_str_line_no
{
	font-size: .7em;
	color: #888;
}